<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activelook.demo"
    android:versionName="@string/app_version">

    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyActiveLookApplication">
        <activity android:name=".MainActivity2"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyActiveLookApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanningActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyActiveLookApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GeneralCommands"></activity>
        <activity android:name=".DisplayLuminanceCommands"></activity>
        <activity android:name=".OpticalSensorCommands"></activity>
        <activity android:name=".GraphicsCommands"></activity>
        <activity android:name=".BitmapsCommands"></activity>
        <activity android:name=".FontCommands"></activity>
        <activity android:name=".LayoutsCommands"></activity>
        <activity android:name=".GaugeCommands"></activity>
        <activity android:name=".PageCommands"></activity>
        <activity android:name=".ConfigurationCommands"></activity>
    </application>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>
